#header {
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  h5 {
    font-size: 30px;
    color: white;
    background-color: #000000b2;
    text-align: start;
    padding: 0px 40px;
    margin-bottom: -30px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  h3 {
    color: white;
    p {
      width: max-content;
      color: white;
      transition: 400ms;
      cursor: pointer;
      text-align: start;
      padding: 0px 36px;
      background-color: #1364c0;
      margin-left: 36px;
    }
  }
}
@media screen and (max-width:500px) {
  #header {
    h5 {
      font-size: 16px;
      text-align: center;
      padding: 0px 30px;
    }
    h3 {
      display: none;
    }
  }
}