#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #customers tr:hover {
    background-color: #ddd;

  }
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #aa0404;
    color: white;
  }

  #user{
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px 0px;
    .container{
      width: 1200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img{
        width: 150px;
        height: 150px;
      }
      button{
        width: 100px;
        height: 35px;
        border-radius: 15px;
        margin-left: 15px;
        border: 1px solid #db4437;
        background-color: white;
        transition: 400ms;
        &:hover{
          background: #db4437;
          color: white;
        }
      }
    }
  }